In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

import matplotlib.pyplot as plt
import seaborn as sns

/kaggle/input/sales-performance-report-dqlab-store/clean_data.csv
/kaggle/input/sales-performance-report-dqlab-store/raw_data.csv

In [2]:
raw= pd.read_csv('/kaggle/input/sales-performance-report-dqlab-store/raw_data.csv')
raw

      order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |
0     +----------+-----------------+----------------...
1     |        3 | Order Finished  | Muhammed MacInt...
2     |      293 | Order Finished  | Barry French   ...
3     |      483 | Order Finished  | Clay Rozendal  ...
4     |      515 | Order Finished  | Carlos Soltero ...
...                                                 ...
5496  |    52706 | Order Finished  | Paul Prost     ...
5497  |    54279 | Order Finished  | Lisa DeCherney ...
5498  |    55558 | Order Finished  | Philip Brown   ...
5499  |    56581 | Order Finished  | Lisa DeCherney ...
5500  +----------+-----------------+----------------...

[5501 rows x 1 columns]

In [3]:
raw.columns

Index([' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |'], dtype='object')

In [4]:
raw[' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |']

0       +----------+-----------------+----------------...
1       |        3 | Order Finished  | Muhammed MacInt...
2       |      293 | Order Finished  | Barry French   ...
3       |      483 | Order Finished  | Clay Rozendal  ...
4       |      515 | Order Finished  | Carlos Soltero ...
                              ...
5496    |    52706 | Order Finished  | Paul Prost     ...
5497    |    54279 | Order Finished  | Lisa DeCherney ...
5498    |    55558 | Order Finished  | Philip Brown   ...
5499    |    56581 | Order Finished  | Lisa DeCherney ...
5500    +----------+-----------------+----------------...
Name:  order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |, Length: 5501, dtype: object

###  Ok we can see this has a strange column name with odd spacing and all, So I am thinking to `store this in new df` for my ease

In [5]:
df=pd.DataFrame()
df['Order_id']=raw[' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |']
df.head()

                                            Order_id
0  +----------+-----------------+----------------...
1  |        3 | Order Finished  | Muhammed MacInt...
2  |      293 | Order Finished  | Barry French   ...
3  |      483 | Order Finished  | Clay Rozendal  ...
4  |      515 | Order Finished  | Carlos Soltero ...

In [6]:
print(df['Order_id'][2:3])

2    |      293 | Order Finished  | Barry French   ...
Name: Order_id, dtype: object

In [7]:
### Droping 1st index as it has data different than rest of data set

df.drop(0, axis=0, inplace=True)

In [8]:
df['Order_id'].str.split('|',1).head()

1    [,         3 | Order Finished  | Muhammed MacI...
2    [,       293 | Order Finished  | Barry French ...
3    [,       483 | Order Finished  | Clay Rozendal...
4    [,       515 | Order Finished  | Carlos Solter...
5    [,       613 | Order Finished  | Carl Jackson ...
Name: Order_id, dtype: object

#### Did u sea when we set n=1 we surpass 1 delimiter so lets try 10 as we know there are 10 columns

* Series.str.split(pat=None, n=- 1, expand=False)
Splits the string in the Series/Index from the beginning, at the specified `delimiter string`. Equivalent to str.split().  
* **pat**: str, optional
    String or regular expression to split on. If not specified, split on whitespace.

* **n**: int, default -1 (all)
    Limit number of splits in output. None, 0 and -1 will be interpreted as return all splits.

* **expand**: bool, default False
    > Expand the split strings into separate columns.
        If **True**, return DataFrame/MultiIndex **expanding dimensionality**.
        If **False**, return Series/Index, containing lists of strings.

**Returns**
Series, Index, DataFrame or MultiIndex  
Type matches caller unless expand=True

In [9]:
df= df['Order_id'].str.split('|',11,expand=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
1,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization,
2,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances,
3,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication,
4,,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances,
5,,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories,

In [10]:
df.columns

RangeIndex(start=0, stop=12, step=1)

## Oh yeah it was easy 
## Now we all we need to rename the column names and drop last column and we are done

In [11]:
### Seperate the index
index= raw.columns.str.split('|',11,expand=True)
k= index.tolist()
print(k,'\n')
# remove trailing white spaces
'''k2 = k.strip()
print(k2)'''; 
### I tried to clean this list only so that I could rename the columns of dataframe directly through this 
### But I failed thus copied the elements manually and substitute it in df

[(' order_id ', ' order_status    ', ' customer               ', ' order_date ', ' order_quantity ', ' sales     ', ' discount ', ' discount_value ', ' product_category ', ' product_sub_category           ', '')]

In [12]:
### Droping all blank columns
df.drop({0,11}, axis=1, inplace=True)

In [13]:

l=['order_id ', 'order_status', ' customer', ' order_date ', ' order_quantity ', ' sales', ' discount ', ' discount_value ', ' product_category ', ' product_sub_category']
### upgrading column name through list [JUST MAKE SURE no of columns = elements in list]
df.columns= l

In [14]:
df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
1,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
2,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
3,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
4,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
5,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5497,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5498,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5499,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings
5500,None,None,None,None,None,None,None,None,None,None

In [15]:
# Our Desired output was this 
df1= pd.read_csv('../input/sales-performance-report-dqlab-store/clean_data.csv')
df1

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
0,3,Order Finished,Muhammed Mac Intyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
1,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
2,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones & Communication
3,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
4,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders & Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5494,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5495,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders & Binder Accessories
5496,54279,Order Finished,Lisa De Cherney,2011-07-30,41,20142180,0.10,2014218,Technology,Office Machines
5497,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5498,56581,Order Finished,Lisa De Cherney,2009-02-08,20,4052020,0.10,405202,Furniture,Office Furnishings

# Further we can **Automate column name though list** and also we can change 'order_date' dtype to datetime from obj